*, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section{
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#333333, black);
}
.set{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.set div{
    position: absolute;
    display: block;
}

.set div:nth-child(1){
    left: 30%;
    animation: animate 15s linear infinite;
}

.set div:nth-child(2){
    left: 40%;
    animation: animate 25s linear infinite;
}

.set div:nth-child(3){
    left: 60%;
    animation: animate 11s linear infinite;
}

.set div:nth-child(4){
    left: 0%;
    animation: animate 13s linear infinite;
}

.set div:nth-child(5){
    left: 85%;
    animation: animate 9s linear infinite;
}

.set div:nth-child(6){
    left: 70%;
    animation: animate 5s linear infinite;
}

.set div:nth-child(7){
    left: 25%;
    animation: animate 8s linear infinite;
}

.set div:nth-child(8){
    left: 45%;
    animation: animate 10s linear infinite;
}
.set div:nth-child(8){
    left: 5%;
    animation: animate 12s linear infinite;
}
@keyframes animate{
    0%{
        opacity: 0;
        top: -10%;
        transform: translateY(-20px) rotate(0deg);
    }
    10%{
        opacity: 1;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform:translateX(-20px) rotate(135deg);
    }
    80%{
        transform: translateX(-20px) rotate(180deg);
    }
    100%{
        transform: translateX(-20px) rotate(225deg);
        top: 110%;
    }
}

.set2{
    transform: scale(2) rotateY(180deg);
    filter:blur(2px);
}

.set3{
    transform: scale(0.8) rotateX(180);
    filter: blur(1px)
}
h2{
    color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;

}

